#navbar-thing {
  position: sticky;
  z-index: 10;
}



.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}

.link2 {
  font-size: 1.2rem;
  color: black;
  transition-duration: 0.3s;
  text-decoration: none;
}

#basic-nav-dropdown {
  color: black !important;
}

#basic-nav-dropdown:hover {
  color: gold !important;
}

.link2:hover {
    text-decoration: none;
    color: gold;
}

.link:hover {
  text-decoration: none;
  color: gold;
}